/*Importar fuente RUBIK*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {                         /* "Limpiar el navegador" */
    margin: 0;              /* Adentro */
    padding: 0;             /* Afuera */
    box-sizing: border-box; /* Borde */
    font-family: "Rubik", sans-serif;
}

:root {
    --color-primario: #e67e22;
    --color-secundario: #fdf2e9;
    --color-texto: #333333;
}

button {
    border:0;
}

nav {
    background-color: var(--color-secundario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 48px;               /* Cero de arriba, 48 de lado. */
}

/* Globales */
.boton {
    padding: 12px 24px;
    border-radius: 9px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}

.boton:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}
.boton:active {
    transform: scale(0.9);
    transition: all 0.5s;
}

.boton-principal {
    color:white;
    background-color: var(--color-primario);
    margin-right: 10px;
}

.boton-secundario {
    color: var(--color-texto);
    background-color: white;
}

 /* Nav */

.nav-logo {
    width: 165px;
}

.nav-lista {
    list-style: none;          /*Quitar los puntos de la lista*/
    display: flex;
    gap: 48px;
    align-items: center;
}

.nav-elemento {
    font-size: 18px;
    color:#333333;
    font-weight: 500;           /* Fuente en negritas. */
}

.menu-boton {
    width: 40px;
}

.menu-icono{
    width: 40px;
}

/* Hero */

.hero {
    display: flex;
    justify-content: center;
    gap: 90px;
    background-color: var(--color-secundario);
    padding: 48px;
}

.hero-imagen {
    width: 100%;
}

.hero-contenedor {
    width: 40%;
}

.hero-titulo {
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 32px;
}

.hero-subtitulo {
    font-size: 20px;
    margin-bottom: 48px;
    font-weight: lighter;
}

.hero-compradores {
    margin-top: 80px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-comprador {
    border-radius: 100px;
    width: 48px;
    height: 48px;
    margin-left: -15px;
    border:3px var(--color-secundario) solid;
}

.hero-compradores-texto {
    font-size: 18px;
    font-weight: 600;
}


.hero-compradores-texto-naranja {
    color: var(--color-primario);
}

/* FEATURED */

.featured-contenedor {
    padding: 10px;
    margin: auto;
}

.featured {
    filter: brightness(0);
    opacity: 50%;
}

.featured-texto {
    font-size: 15px;
    margin: 50px;
    text-align: center;
}

.featured-logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
}

.featured-image {
    gap: 10px;
    width:auto;
    height:32px;
}

/* STEPS SECTION */
.steps {
    padding-left: 300px;
    padding-top: 100px;
    color: var(--color-texto);
    align-items: center;
}
.steps-titulo {
    font-size: 20px;
    font-weight: 500;
    text-align: start   ;
    margin-bottom: 20px;
    letter-spacing: 0.75px;
    color: var(--color-primario);
}
.steps-subtitulo {
    font-size: 48px;
    font-weight: bold;
    text-align: start;
    margin-bottom: 150px;
    padding-bottom: 100px;
}
.number01y03 {
    opacity: 20%;
    font-size: 90px;
    font-weight: 500;
}
.step01y03-texto, .step02-texto {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 50px;
    font-weight: 700;
    letter-spacing: -0.5px;
}
.step02-texto {
    display: flex;
    justify-content: right;
    padding-bottom: 20px;
    padding-left: 600px;
    padding-right: 500px;
}
.number02 {
    display: flex;
    justify-content: right;
    opacity: 20%;
    font-size: 90px;
    padding-bottom: 20px;
    padding-right: 810px;
    font-weight: 500;
}
.step01y03-descripcion {
    font-size: 20px;
    line-height: 1.8;
}
.step01-image-box {
    width: 35%;
    padding-bottom: 60%;
    background-color: var(--color-secundario);
}
.step02-image-box {
    width: 35%;
    background-color: var(--color-secundario);
}
.step03-image-box {
    width: 35%;
    background-color: var(--color-secundario);
}

/* RESPONSIVO */

@media screen and (max-width:1200px), (max-width: 1800px) {
    .nav-elemento {
        font-size: 16px;
    }
    .hero-titulo {
        font-size: 40px;
    }
}

@media screen and (max-width:700px), (max-width: 950px), (max-width: 1000px) {
    .nav-lista {
        display: none;
    }
    .menu-boton {
        display: block;
    }
    .hero {
        flex-direction: column;
        align-items: center;
    }
    .hero-contenedor {
        width: 100%;
    }
    .hero-titulo,
    .hero-subtitulo {
        text-align: center;
    }
    .hero-botones {
        justify-content: center;
    }
    .hero-compradores {
        justify-content: center;
    }
    .featured-logos {
        display: flex;
        flex-wrap: wrap;
    }
    .featured-image {
        margin: 30px
    }
}

@media screen and (max-width:400px), (max-width: 600px) {
    .hero, nav {
        padding: 15px;
    }
    .hero-titulo {
        font-size: 25px;
    }
    .hero-subtitulo {
        font-size: 20px;
    }
    .hero-botones {
        flex-direction: column;
        align-items: stretch;
    }
    .hero-compradores {
        flex-direction: column;
    }
    .hero-compradores-texto {
        text-align: center;
        text-wrap: balance;
    }
    .featured-logos {
        flex-direction: column;
        grid-gap: 30px 5px;
    }
    .featured-image {
        padding-top: 2px;
        padding-bottom: 2px;
    }
}